{% macro render(elementId = null, elementPartId = null, socialMediaFollow = null, marginBottom = null, iconHeight = null, iconPadding = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set socialMediaElementId = elementId ?: 'social-media-follow-rbGrIr' %}
    {% set socialMediaElementPartId = elementPartId ?: 'social-media-follow-part-2PtqkD' %}

    {% set defaultSocialMedia = [{
      name: 'LinkedIn',
      img: bsi_cx_asset('../../../../static/linkedin.png'),
      url: 'https://www.linkedin.com/'
    }, {
      name: 'X (Twitter)',
      img: bsi_cx_asset('../../../../static/x-twitter.png'),
      url: 'https://www.twitter.com/'
    }, {
      name: 'YouTube',
      img: bsi_cx_asset('../../../../static/youtube.png'),
      url: 'https://www.youtube.com/'
    }, {
      name: 'Facebook',
      img: bsi_cx_asset('../../../../static/facebook.png'),
      url: 'https://www.facebook.com/'
    }, {
      name: 'Instagram',
      img: bsi_cx_asset('../../../../static/instagram.png'),
      url: 'https://www.instagram.com/'
    }, {
      name: 'Pinterest',
      img: bsi_cx_asset('../../../../static/pinterest.png'),
      url: 'https://www.pinterest.com/'
    }, {
      name: 'Snapchat',
      img: bsi_cx_asset('../../../../static/snapchat.png'),
      url: 'https://www.snapchat.com/'
    }, {
      name: 'kununu',
      img: bsi_cx_asset('../../../../static/kununu.png'),
      url: 'https://www.kununu.com/'
    }] %}
    {% set socialMediaFollowList = (socialMediaFollow ?: properties.socialMediaFollow) ?: defaultSocialMedia %}
    {% set socialMediaMarginBottom = ((marginBottom ?: properties.socialMediaMarginBottom) ?: properties.baseMarginBottom) ?: 10 %}
    {% set socialMediaIconHeight = (iconHeight ?: properties.socialMediaIconHeight) ?: 20 %}
    {% set socialMediaIconPadding = (iconPadding ?: properties.socialMediaIconPadding) ?: 6 %}
    {% set socialMediaIconAlignment = (alignment ?: properties.socialMediaIconAlignment) ?: 'center' %}

    <table data-bsi-element="{{ socialMediaElementId }}" align="{{ socialMediaIconAlignment }}" class="bsi-social-media" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
        <tr data-bsi-element-part="{{ socialMediaElementPartId }}" valign="top">

            {% for entry in socialMediaFollowList %}
                {% set imgUrl = entry.img.externalRef ? entry.img.externalRef : entry.img %}
                <td data-bsi-social-follow="{{ entry.name }}" style="padding-left: {{socialMediaIconPadding}}px; padding-right: {{socialMediaIconPadding}}px;">
                    <a href="{{ entry.url }}" target="_blank" style="text-decoration: none;">
                        <img src="{{ imgUrl }}" height="{{ socialMediaIconHeight }}" alt="{{ entry.name }}" border="0" style="display: block; width: auto;"/>
                    </a>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td height="{{ socialMediaMarginBottom }}" style="height: {{ socialMediaMarginBottom }}px;">&nbsp;</td>
        </tr>
    </table>
{% endapply %}