{% macro render(elementId = null, previewPartId = null, textPartId = null, textColor = null, linkColor = null, fontFamily = null, fontSize = null, marginBottom = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set preHeaderElementId = elementId ?: 'header-preheader-cVwk8f' %}
    {% set preHeaderPreviewPartId = previewPartId ?: 'header-preheader-part-preview-rWi96c' %}
    {% set preHeaderTextPartId = textPartId ?: 'header-preheader-part-text-dpjafj' %}
    {% set preHeaderTextColor = (textColor ?: properties.baseTextColor) ?: '#000000' %}
    {% set preHeaderLinkColor = (linkColor ?: properties.linkColor) ?: '#93C120' %}
    {% set preHeaderFontFamily = (fontFamily ?: properties.baseFontFamily) ?: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' %}
    {% set preHeaderFontSize = (fontSize ?: properties.baseFontSize) ?: 14 %}
    {% set preHeaderLineHeight = preHeaderFontSize + 4 %}
    {% set preHeaderMarginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}

    <div data-bsi-element="{{ preHeaderElementId }}" style="text-align: center; margin-top: 0; margin-bottom: {{ preHeaderMarginBottom }}px; font-size: {{ preHeaderFontSize }}px; line-height: {{ preHeaderLineHeight }}px; font-family: {{ preHeaderFontFamily }};">
        <div data-bsi-element-part="{{ preHeaderPreviewPartId }}" style="display: none;">Preview text for e-mail client here</div>
        <div data-bsi-element-part="{{ preHeaderTextPartId }}" class="bsi-dm-text-color" style="color: {{ preHeaderTextColor }};">Pre-header text here. |&nbsp;
            <span style="color: {{ preHeaderLinkColor }};">
                <a href="[Webversion]" target="_blank" style="text-decoration: underline; color: {{ preHeaderLinkColor }};">View in Browser</a>
            </span>
        </div>
        <!--[if mso]>
        <table width="100%">
        <tr>
        <td height="{{ preHeaderMarginBottom }}" style="height: {{ preHeaderMarginBottom }}px;">&nbsp;</td>
        </tr>
        </table>
        <![endif]-->
    </div>
{% endapply %}