{% macro render(elementId = null, color = null, height = null, marginBottom = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set dividerElementId = elementId ?: 'divider-LQi2yS' %}
    {% set dividerColor = (color ?: properties.dividerColor) ?: '#e6e6e6' %}
    {% set dividerHeight = (height ?: properties.dividerHeight) ?: 1 %}
    {% set dividerMarginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}

    <div data-bsi-element="{{ dividerElementId }}">
        <div style="margin-bottom: {{ dividerMarginBottom }}px; width: 100%; max-width: 640px; line-height: {{ dividerHeight }}px; height: {{ dividerHeight }}px; font-size: {{ dividerHeight }}px; background-color: {{ dividerColor }}; mso-line-height-rule: exactly;">&nbsp;</div>
    </div>
{% endapply %}