{% macro render(elementId = null, color = null, height = null, marginBottom = null) %}{% apply spaceless %}
    {% set elementId = elementId ?: 'divider-LQi2yS' %}
    {% set color = (color ?: properties.dividerColor) ?: '#e6e6e6' %}
    {% set height = (height ?: properties.dividerHeight) ?: 1 %}
    {% set marginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}

    <div data-bsi-element="{{ elementId }}">
        <div style="margin-bottom: {{ marginBottom }}px; width: 100%; max-width: 640px; line-height: {{ height }}px; height: {{ height }}px; font-size: {{ height }}px; background-color: {{ color }}; mso-line-height-rule: exactly;">&nbsp;</div>
    </div>

{% endapply %}{% endmacro %}