{% macro render(elementId = null, imagePartId = null, imageSrc = null, marginBottom = null, imageWidth = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set img10ElementId = elementId ?: 'img-10-3Xt35e' %}
    {% set img10PartId = imagePartId ?: 'img-10-part-4wGyyL' %}
    {% set img10Src = imageSrc ?: bsi_cx_asset('../../../../static/image.png') %}
    {% set img10MarginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}
    {% set img10Width = (imageWidth ?: properties.imageWidth10Percent) ?: 60 %}

    <div data-bsi-element="{{ img10ElementId }}">
        <img data-bsi-element-part="{{ img10PartId }}" src="{{ source ?: img10Src }}" width="{{ img10Width }}" alt="Image" style="margin-top: 0; margin-bottom: {{ img10MarginBottom }}px; display: block; width: {{ img10Width }}px; max-width: 100%; height:auto;" />
    </div>
{% endapply %}