{% macro render(elementId = null, imagePartId = null, imageSrc = null, marginBottom = null, imageWidth = null, imageAlt = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set img10ElementId = elementId ?: 'img-10-3Xt35e' %}
    {% set img10PartId = imagePartId ?: 'img-10-part-4wGyyL' %}
    {% set img10Src = imageSrc ?: bsi_cx_asset('../../../../static/image.png') %}
    {% set img10Width = (imageWidth ?: properties.imageWidth10Percent) ?: 60 %}
    {% set img10Alt = imageAlt ?: 'Smiley Rating' %}
    {# inline element: therefore, no margins are defined #}

    <div data-bsi-element="{{ img10ElementId }}">
        <img data-bsi-element-part="{{ img10PartId }}" class="smiley-rating-image" src="{{ source ?: img10Src }}" width="{{ img10Width }}" alt="{{ alt ?: img10Alt }}" style="margin-top: 0; display: block; width: {{ img10Width }}px; max-width: 100%; height:auto;" />
    </div>
{% endapply %}