{% macro render(elementId = null, elementPartId = null, textColor = null, fontFamily = null, fontSize = null, lineHeight = null, marginBottom = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set tableElementId = elementId ?: 'table-2idv5Y' %}
    {% set tableElementPartId = elementPartId ?: 'table-part-slyKhe' %}
    {% set tableTextColor = (textColor ?: properties.baseTextColor) ?: '#000000' %}
    {% set tableFontFamily = (fontFamily ?: properties.baseFontFamily) ?: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' %}
    {% set tableFontSize = (fontSize ?: properties.baseFontSize) ?: 14 %}
    {% set tableLineHeight = lineHeight ?: fontSize %}
    {% set tableMarginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}

    <div data-bsi-element="{{ tableElementId }}">
        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td data-bsi-element-part="{{ tableElementPartId }}" align="left" style="font-family: {{ tableFontFamily }}; color: {{ tableTextColor }}; font-size: {{ tableFontSize }}px; line-height: {{ tableLineHeight }}px; text-align: left;">
                    <table class="table" border="0" cellpadding="10" width="100%" align="left" style="font-family: {{ tableFontFamily }}; color: {{ tableTextColor }}; font-size: {{ tableFontSize }}px; line-height: {{ tableLineHeight }}px; text-align: left;">
                        <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th>Column 3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Text column 1</td>
                            <td>Text column 1</td>
                            <td>Text column 1</td>
                        </tr>
                        <tr>
                            <td>Text column 2</td>
                            <td>Text column 2</td>
                            <td>Text column 2</td>
                        </tr>
                        <tr>
                            <td>Text column 3</td>
                            <td>Text column 3</td>
                            <td>Text column 3</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="{{ tableMarginBottom }}" style="height: {{ tableMarginBottom }}px;">&nbsp;</td>
            </tr>
        </table>
    </div>
{% endapply %}