{% macro render(elementId = null, dropzone1Id = null, dropzone2Id = null, dropzone3Id = null, dropzone4Id = null, dropzone5Id = null, image1Src = null, image2Src = null, image3Src = null, image4Src = null, image5Src = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set elementId = elementId ?: 'smiley-rating-r74TPz' %}
    {% set dropzone1Id = dropzone1Id ?: 'smiley-rating-dropzone-1-otTRwZ' %}
    {% set dropzone2Id = dropzone2Id ?: 'smiley-rating-dropzone-2-aRGgs6' %}
    {% set dropzone3Id = dropzone3Id ?: 'smiley-rating-dropzone-3-kjidBh' %}
    {% set dropzone4Id = dropzone4Id ?: 'smiley-rating-dropzone-4-4Y5G8S' %}
    {% set dropzone5Id = dropzone5Id ?: 'smiley-rating-dropzone-5-0hSgre' %}
    {% set image1Src = image1Src ?: bsi_cx_asset('../../../../static/smiley-1.png') %}
    {% set image2Src = image2Src ?: bsi_cx_asset('../../../../static/smiley-2.png') %}
    {% set image3Src = image3Src ?: bsi_cx_asset('../../../../static/smiley-3.png') %}
    {% set image4Src = image4Src ?: bsi_cx_asset('../../../../static/smiley-4.png') %}
    {% set image5Src = image5Src ?: bsi_cx_asset('../../../../static/smiley-5.png') %}

    <table data-bsi-element="{{ elementId }}" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td valign="top" align="center">
                <table class="bsi-smiley-rating" width="364" style="width: 364px;" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td data-bsi-dropzone="{{ dropzone1Id }}" align="center" valign="top">
                            {% block smiley_rating_dropzone_one %}
                                {% include '../../img-10/template.twig' with {source: image1Src} only %}
                            {% endblock %}
                        </td>
                        <td width="16" style="width:16px;font-size: 1px; line-height: 1px;">&nbsp;</td>
                        <td data-bsi-dropzone="{{ dropzone2Id }}" align="left" valign="top">
                            {% block smiley_rating_dropzone_two %}
                                {% include '../../img-10/template.twig' with {source: image2Src} only %}
                            {% endblock %}
                        </td>
                        <td width="16" style="width:16px;font-size: 1px; line-height: 1px;">&nbsp;</td>
                        <td data-bsi-dropzone="{{ dropzone3Id }}" align="left" valign="top">
                            {% block smiley_rating_dropzone_three %}
                                {% include '../../img-10/template.twig' with {source: image3Src} only %}
                            {% endblock %}
                        </td>
                        <td width="16" style="width:16px;font-size: 1px; line-height: 1px;">&nbsp;</td>
                        <td data-bsi-dropzone="{{ dropzone4Id }}" align="left" valign="top">
                            {% block smiley_rating_dropzone_four %}
                                {% include '../../img-10/template.twig' with {source: image4Src} only %}
                            {% endblock %}
                        </td>
                        <td width="16" style="width:16px;font-size: 1px; line-height: 1px;">&nbsp;</td>
                        <td data-bsi-dropzone="{{ dropzone5Id }}" align="left" valign="top">
                            {% block smiley_rating_dropzone_five %}
                                {% include '../../img-10/template.twig' with {source: image5Src} only %}
                            {% endblock %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endapply %}