{% macro render(elementId = null, dropzoneId = null, backgroundColor = null, textColor = null, padding = null, width = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set layoutDarkFooterElementId = elementId ?: 'layout-dark-footer-x1LvCb' %}
    {% set layoutDarkFooterDropzoneId = dropzoneId ?: 'layout-dark-footer-dropzone-S2Twva' %}
    {% set layoutDarkFooterBackgroundColor = (backgroundColor ?: properties.footerDarkBackgroundColor) ?: '#383e42' %}
    {% set layoutDarkFooterTextColor = (textColor ?: properties.footerDarkTextColor) ?: '#ffffff' %}
    {% set layoutDarkFooterPadding = (padding ?: properties.footerDarkPadding) ?: 30 %}
    {% set layoutDarkFooterWidth = (width ?: properties.layoutWidth) ?: 660 %}

    <div data-bsi-element="{{ layoutDarkFooterElementId }}" class="bsi-footer bsi-dm-bg-color-footer">
        <table width="{{ layoutDarkFooterWidth }}" style="width: {{ layoutDarkFooterWidth }}px;" bgcolor="{{ layoutDarkFooterBackgroundColor }}" align="center">
            <tr>
                <td data-bsi-dropzone="{{ layoutDarkFooterDropzoneId }}" align="center" valign="top" style="color: {{ layoutDarkFooterTextColor }}; padding: {{ layoutDarkFooterPadding }}px 23px;">
                    {% block layout_dark_footer_dropzone %}
                        {% include '../../col-one-footer/template.twig' only %}
                    {% endblock %}
                </td>
            </tr>
        </table>
    </div>
{% endapply %}