{% macro render(elementId = null, fontSize = null, fontFamily = null, textColor = null, fontWeight = null, minString = null, maxString = null, buttonBackgroundColor =  null) %}{% apply spaceless %}
{% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}



{% apply spaceless %}
    {% set npsElementId = elementId ?: 'nps-extra-score-6GpT4d' %}
    {% set npsFontSize = (fontSize ?: properties.baseFontSize) ?: 14 %}
    {% set npsFontFamily = (fontFamily ?: properties.baseFontFamily) ?: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' %}
    {% set npsButtonColor = (buttonTextColor ?: properties.npsButtonTextColor) ?: '#ffff' %}
    {% set npsButtonBackgroundColor = (buttonBackgroundColor ?: properties.npsButtonBackgroundColor) ?: '#2F4E66' %}
    {% set npsButtonHeight = (height ?: properties.npsButtonHeight) ?: 32 %}
    {% set npsButtonBorderStyle = (borderStyle ?: properties.npsButtonBorderStyle) ?: 'solid' %}
    {% set npsButtonBorderWidth = (borderWidth ?: properties.npsButtonBorderWidth) ?: 0 %}
    {% set npsButtonBorderRadius = (borderRadius ?: properties.npsButtonBorderRadius) ?: 0 %}
    {% set npsButtonBorderColor = (borderColor ?: properties.npsButtonBorderColor) ?: '#fff' %}
    {% set npsFontWeight = (fontWeight ?: properties.npsButtonFontWeight) ?: 'normal' %}

    <div data-bsi-element="{{ npsElementId }}" style="background-color: {{ npsButtonBackgroundColor }}; text-align: center; vertical-align: middle;border-style: {{ npsButtonBorderStyle }}; border-width: {{ npsButtonBorderWidth }}px; border-color: {{ npsButtonBorderColor }}; border-radius: {{ npsButtonBorderRadius }}px; width: auto;">
        <a href = "[link0]" class="nps-dm-button" data-bsi-element-part="link0" style="background-color: {{ npsButtonBackgroundColor }}; mso-line-height-rule: exactly; font-size: {{ npsFontSize }}px; line-height: {{ npsButtonHeight }}px; font-family: {{ npsFontFamily }}; color: {{ npsButtonColor }}; font-weight: {{ npsFontWeight }}; text-decoration: none; mso-border-alt: none; display: inline-block; width: 100%; text-align:center; word-break: keep-all; text-underline-color: {{ npsButtonBackgroundColor }};">0</a>
    </div>
{% endapply %}
