{% macro render(elementId = null, fontSize = null, fontFamily = null, textColor = null, fontWeight = null, minString = null, maxString = null, buttonBackgroundColor =  null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-email/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}



{% apply spaceless %}
    {% set npsElementId = elementId ?: 'nps-29c87d' %}
    {% set npsDropzoneId = dropzoneId ?: 'nps-survey-zero-value-dropzone-QQ5H1U' %}
    {% set npsFontSize = (fontSize ?: properties.baseFontSize) ?: 14 %}
    {% set npsFontFamily = (fontFamily ?: properties.baseFontFamily) ?: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' %}
    {% set npsButtonColor = (buttonTextColor ?: properties.npsButtonTextColor) ?: '#ffff' %}
    {% set npsButtonBackgroundColor = (buttonBackgroundColor ?: properties.npsButtonBackgroundColor) ?: '#2F4E66' %}
    {% set npsButtonHeight = (height ?: properties.npsButtonHeight) ?: 32 %}
    {% set npsButtonBorderStyle = (borderStyle ?: properties.npsButtonBorderStyle) ?: 'solid' %}
    {% set npsBorderSpacing = (borderSpacing ?: properties.npsBorderSpacing) ?: 5 %}
    {% set npsButtonBorderWidth = (borderWidth ?: properties.npsButtonBorderWidth) ?: 0 %}
    {% set npsButtonBorderRadius = (borderRadius ?: properties.npsButtonBorderRadius) ?: 0 %}
    {% set npsButtonBorderColor = (borderColor ?: properties.npsButtonBorderColor) ?: '#fff' %}
    {% set npsTextColor = (textColor ?: properties.npsBaseTextColor) ?: '#0000' %}
    {% set npsFontWeight = (fontWeight ?: properties.npsButtonFontWeight) ?: 'normal' %}
    {% set npsSkalaMaxWidth = (maxWidth ?: properties.npsSkalaMaxWidth) ?: 668 %}
    {% set npsMinString = minString ?: '' %}
    {% set npsMaxString = maxString ?: '' %}
    {% set npsHorizontalPadding = 10 %}
    {% set npsVerticalPadding = 8 %}
    {% set npsTitleElementPartId = "titleText-14fef7" %}
    {% set npsAlignment = (alignment ?: properties.alignmentLeft) ?: 'center' %}
    {% set npsMinElementPartId = 'min-a23f97' %}
    {% set npsMaxElementPartId = 'max-2f63e1' %}
    {% set npsStart = (npsStartWith0 or properties.npsStartWith0) ? 0 : 1 %}
    {% set darkModeClassContent = properties.darkModeActive ? 'nps-dm-content' : '' %}
    {% set darkModeClassButton = properties.darkModeActive ? 'nps-dm-button' : '' %}
    {% set darkModeClassText = properties.darkModeActive ? 'bsi-dm-text-color' : '' %}


    <div data-bsi-element="{{ npsElementId }}" class="{{ darkModeClassContent }}" style="max-width: {{ npsSkalaMaxWidth }}px">
        <h3 data-bsi-element-part = "{{ npsTitleElementPartId }}" data-bsi-property="title" class="{{ darkModeClassText }}" style="font-family: {{ npsFontFamily }}; color: {{ npsTextColor }}; font-size: {{ npsFontSize }}px; font-weight: {{ npsFontWeight }}; text-align: center; margin-top: 0;">{{ bsi_cx_lorem(3) }}</h3>
        <table class="nps-survey-table {{ npsScoreZeroClass }}" border="0" cellpadding="0" cellspacing="0"  width="100%" style="min-width: 100%; border-spacing: {{ npsBorderSpacing }}px !important; border-collapse: separate !important">
            <tr>
                {% for i in range(npsStart, 10) %}
                    {% block npsButton %}
                        <td width="30" style="background-color: {{ npsButtonBackgroundColor }}; text-align: center; vertical-align: middle; border-style: {{ npsButtonBorderStyle }}; border-width: {{ npsButtonBorderWidth }}px; border-color: {{ npsButtonBorderColor }}; border-radius: {{ npsButtonBorderRadius }}px;">
                            <a href = "[link{{ i }}]" class="{{ darkModeClassButton }}" data-bsi-element-part="link-{{ i }}-part" style="background-color: {{ npsButtonBackgroundColor }}; mso-line-height-rule: exactly; font-size: {{ npsFontSize }}px; line-height: {{ npsButtonHeight }}px; font-family: {{ npsFontFamily }}; color: {{ npsButtonColor }}; font-weight: {{ npsFontWeight }}; text-decoration: none; mso-border-alt: none; display: inline-block; width: 100%; text-align:center; word-break: keep-all; text-underline-color: {{ npsButtonBackgroundColor }};">{{ i }}</a>
                        </td>
                    {% endblock %}
                {% endfor %}
            </tr>
        </table>

        <table class="nps-survey-table" border="0" cellpadding="0" cellspacing="0"  width="100%" style="min-width: 100%;">
            <tr>
                <td width="60" style="width: 60px; text-align: center; vertical-align: middle;" >
                    <h3 data-bsi-element-part = "{{ npsMinElementPartId }}" data-bsi-property="title" class="{{ darkModeClassText }}" style="font-family: {{ npsFontFamily }}; color: {{ npsTextColor }}; font-size: {{ npsFontSize }}px; font-weight: {{ npsFontWeight }}; margin-top: 0;">dislike</h3>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                </td>
                <td width="5" style="width: 5px;">&nbsp;</td>
                <td style="text-align: center; vertical-align: middle;">
                </td>
                <td width="5" style="width: 5px;">&nbsp;</td>
                <td style="text-align: center; vertical-align: middle;">
                </td>
                <td width="5" style="width: 5px;">&nbsp;</td>
                <td style=" text-align: center; vertical-align: middle;">
                </td>
                <td width="5" style="width: 5px;">&nbsp;</td>
                <td style="text-align: center; vertical-align: middle;">
                </td>
                <td width="5" style="width: 5px;">&nbsp;</td>
                <td  style="text-align: center; vertical-align: middle;">
                </td>
                <td width="60"style="width: 60px; text-align: center; vertical-align: middle;">
                    <h3 data-bsi-element-part = "{{ npsMaxElementPartId }}" data-bsi-property="title" class="{{ darkModeClassText }}" style="font-family: {{ npsFontFamily }}; color: {{ npsTextColor }}; font-size: {{ npsFontSize }}px; font-weight: {{ npsFontWeight }};  margin-top: 0;">like</h3>
                </td>
            </tr>
        </table>
    </div>
{% endapply %}
