{% macro render(elementId = null, locationIconPartId = null, locationTextPartId = null, dateIconPartId = null, dateTextPartId = null, locationIconSrc = null, dateIconSrc = null, backgroundColor = null, textColor = null, fontFamily = null, fontSize = null, marginBottom = null) %}{% apply spaceless %}
    {% set elementId = elementId ?: 'event-5yyfwR' %}
    {% set locationIconPartId = locationIconPartId ?: 'event-part-location-icon-x2nxDL' %}
    {% set locationTextPartId = locationTextPartId ?: 'event-part-location-text-7612sK' %}
    {% set dateIconPartId = dateIconPartId ?: 'event-part-date-icon-aJBaMj' %}
    {% set dateTextPartId = dateTextPartId ?: 'event-part-date-text-x1Vpp0' %}
    {% set locationIconSrc = locationIconSrc ?: bsi_cx_asset('../../../../static/location.png') %}
    {% set dateIconSrc = dateIconSrc ?: bsi_cx_asset('../../../../static/date.png') %}
    {% set backgroundColor = (backgroundColor ?: properties.eventBackgroundColor) ?: '#ff7d00' %}
    {% set textColor = (textColor ?: properties.eventTextColor) ?: '#ffffff' %}
    {% set fontFamily = (fontFamily ?: properties.baseFontFamily) ?: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' %}
    {% set fontSize = (fontSize ?: properties.fontSizeEventText) ?: 16 %}
    {% set lineHeight = fontSize + 4 %}
    {% set marginBottom = (marginBottom ?: properties.baseMarginBottom) ?: 12 %}

    <table data-bsi-element="{{ elementId }}" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-bottom: {{ marginBottom }}px;">
        <tr>
            <td align="center" valign="top" style="padding:25px 50px 25px 25px;" bgcolor="{{ backgroundColor }}" class="bsi-event-padding">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" border="0" align="left">
                                <tr>
                                    <td align="left" valign="top" style="padding-right: 12px;">
                                        <img data-bsi-element-part="{{ locationIconPartId }}" src="{{ locationIconSrc }}" height="25" alt="Location" border="0" style="display: block; width: auto;"/>
                                    </td>
                                    <td data-bsi-element-part="{{ locationTextPartId }}" class="bsi-event-text" align="left" valign="top" style="font-family: {{ fontFamily }}; color: {{ textColor }}; font-size: {{ fontSize }}px; line-height: {{ lineHeight }}px; vertical-align: middle;">Online</td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:150px;" width="150" class="bsi-event-spacer">&nbsp;</td>
                        <td align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" border="0" align="left">
                                <tr>
                                    <td align="left" valign="top" style="padding-right: 12px;">
                                        <img data-bsi-element-part="{{ dateIconPartId }}" src="{{ dateIconSrc }}" height="25" alt="Date" border="0" style="display: block; width: auto;"/>
                                    </td>
                                    <td data-bsi-element-part="{{ dateTextPartId }}" class="bsi-event-text" align="left" valign="top" style="font-family: {{ fontFamily }}; color: {{ textColor }}; font-size: {{ fontSize }}px; line-height: {{ lineHeight }}px; vertical-align: middle;">16.03.2023, 18:00-20:00</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{% endapply %}{% endmacro %}